{% extends "aplicacion/index.html" %}
{% load static %}


{% block Body %}
<header class="mastheadconsultas">
    <div class="container px-4 px-lg-5 h-100">
        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
        <!-- Google Calendar Appointment Scheduling begin -->
        <iframe src="https://calendar.google.com/calendar/appointments/schedules/AcZssZ0I9CObktwWkDhbcoxntoMuKCd4VhSQKd0Dv5a21fwsgF57Iw66flbZkX_CdFTRhMepRCbmGjBL?gv=true" style="height: 87vh;width: 100%;border: 0;display: block;background-color:#f8f9fa;border-radius: 0.700rem;" frameborder="0"></iframe>
        <!-- end Google Calendar Appointment Scheduling -->
        </div>
    </div>    
</header>


{% endblock Body %}